/* 1. Define the font and point to its location */
@font-face {
  font-family: 'DK Jambo';
  src: url('fonts/DK Jambo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 2. Apply the font to your website text */



:root {
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #db2777;
  --pink-600: #be185d;
}

body {
  background-color: var(--pink-50);
  color: var(--pink-600);
  font-family: sans-serif;
}

a {
  color: var(--pink-500);
  text-decoration: none;
}

a:hover {
  color: var(--pink-600);
  text-decoration: underline;
}

