/* Link your uploaded custom font */
@font-face {DK Jambo
    font-family: 'DK Jambo';
    src: url('./assets/fonts/DK Jambo.woff2') format('woff2'),
         url('./assets/fonts/DK Jambo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply the font and color options to your classes */
.text-option-red {
    font-family: 'MyCustomFont', sans-serif;
    color: #FF4136; /* Red color option */
}

.text-option-blue {
    font-family: 'MyCustomFont', sans-serif;
    color: #0074D9; /* Blue color option */
}





:root {
  --pink-50: #fdf2f8;
  --pink-100: #fce7f3;
  --pink-200: #fbcfe8;
  --pink-300: #f9a8d4;
  --pink-400: #f472b6;
  --pink-500: #db2777;
  --pink-600: #be185d;
}

body {
  background-color: var(--pink-50);
  color: var(--pink-600);
  font-family: sans-serif;
}

a {
  color: var(--pink-500);
  text-decoration: none;
}

a:hover {
  color: var(--pink-600);
  text-decoration: underline;
}

